@using (Html.BeginForm())
            {

    <input type="text" value="" name="userName" placeholder="Kullanıcı adı giriniz..." />
    <input type="password" name="password" placeholder="Şifre giriniz..." />


    <input type="submit" value="Giriş" />
            }

<a href="/Auth/Register">Kayıt Ol</a>